<ion-header>
  <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
    <ion-title> <ion-icon class="header-icon" name="settings-sharp"></ion-icon>SETTINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item lines="full">
              <ion-icon slot="start" name="moon"></ion-icon>
              <ion-label>
                Dark Theme
              </ion-label>
              <ion-toggle id="themeToggle" slot="end" (click)="darkToggle()"></ion-toggle>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button shape="round" expand="block" color="warning" (click)="onClearFavorites()">Clear All Favorites</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
