<ion-header>
  <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
    <ion-title> <ion-icon class="header-icon" name="settings-sharp"></ion-icon>SETTINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              News App
            </ion-card-title>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deserunt repudiandae beatae sapiente. Amet quam quibusdam molestiae? Rem tempora aliquid veniam quasi. Consectetur dignissimos suscipit, officiis commodi fuga libero. Itaque?</h2>
          </ion-card-content>
        </ion-card>
        <ion-button shape="round" expand="block" color="warning" (click)="onClearFavorites()">Clear All Favorites</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
