<ion-header>
  <ion-toolbar [color]="dynamicColor? dynamicColor:'primary'">
    <ion-title>headlines</ion-title>
    <ion-icon class="header-icon" slot="end" name="globe"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            <ion-chip color="primary" class="category" *ngFor="let category of categories" (click)="getCategory(category)">
              {{category}}
            </ion-chip>
          </ion-slide>
        </ion-slides>
        </ion-col>
    </ion-row>
  </ion-grid>
  <app-articles [news]="news"></app-articles>
</ion-content>
