
ion-toolbar {
    background-color:lavender
}

.arrow-animation{
    animation-name: rotation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  
  @keyframes rotation{
    from{
      transform: rotate(-40deg);
    }
    80% {
      transform: rotate(340deg);
    }
    99.999%{
      transform: rotate(460deg);
    }
    to{
      transform: rotate(-40deg);
    }
  }